.circle-add i:hover{
   color: white;
   
}.circle .cardSmall {
  align-self: center;
}

.holder .container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin-top: 3rem;
}
.fa-refresh{
   color: black;
   font-size: 2rem;
}